body {
    margin: 0;
    height:100vh;
}
section {
    height: 100%;
    position: relative;
    background-color: #ab67f4;
}
button {
    font-size: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid;
    border-radius: 13px;
    padding: 20px;
}